body { border-color:turquoise; }

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
a, 
.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a,
.amazingcarousel-title,
.widget .widget-title,
#wp-calendar a { color:turquoise }

h1.site-title { color:turquoise !important; }

.nav-menu li a:hover, 
ul.nav-menu ul a:hover, 
.nav-menu ul ul a:hover,
#wp-calendar caption { background:turquoise; }

.entry-thumbnail img { border-bottom:3px solid turquoise; }